body {
    background: Linen;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    }
   
  h1 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: FireBrick;
    }
   
  p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: rgb(189, 43, 43);
    }

  .leftdiv {
    font-size: 1.2em;
    width: 40%;
    height: 100px;
    background-color: rgb(51, 57, 61);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: FireBrick;
    border-radius: 25px;
    margin-bottom: 3%;
  }
  .rightdiv {
    font-size: 1.2em;
    width: 40%;
    height: 100px;
    background-color: rgb(51, 57, 61);
    text-align:center;
    float: right;
    float: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: FireBrick;
    border-radius: 25px;
    margin-bottom: 3%;
  }