body {
  font-size: 16px;
  color: white;
  background-color: #040720;
  font-family: Helvetica, sans-serif;
}
p {
  color: white;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.navigation {
  width: 90%;
  height: 20vh;
  text-align: center;
}

.clock {
  width: 5%;
  height: 20vh;
  text-align: center;
  vertical-align: top;
}

.logo-img {
  width: 50%;
  height: auto;
  align-items: center;
}

button {
  float: left;
  width: 30vw;
  height: 70vh;
  margin-top: 3vw;
  margin-left: 2vw;
  border: 5px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.Data button{
  background-color: #FFD700;
}

.MechSubsys button{
  background-color: #8B0000;
}

.ElecSubsys button{
  background-color: #8B0000;
}

.Data button:hover{
  background-color: #ffbf00;
}

.MechSubsys button:hover{
  background-color: #8b1900;
}

.ElecSubsys button:hover{
  background-color: #8b1900;
}